<div data-role="view" id="tabstrip-stories" 
     data-model="app.stories.model" data-show="app.stories.events.show"
     data-init="app.stories.events.init" data-after-show="app.stories.events.afterShow" 
     data-title="Stories" data-layout="mobile-tabstrip">
    
    <ul data-role="listview" data-style="inset"
        data-bind="source: stories" data-template="stories-template">
       
    </ul>
</div>

<script type="text/x-kendo-template" id="stories-template">
  
  <a class="fa fa-lg" data-bind="click: enterStory">
  <div class="story-name"><p>#: name #</p></div>
  <img class="story-image" src=#:topImageUrl#></img>
  
  </a>
</script>