<div data-role="view" data-id="main" data-init="app.tabStrip.events.init">
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
        </div>
    </div>
    <!-- application views will be rendered here -->
    <div data-role="footer">
        <div data-role="tabstrip" data-select="app.tabStrip.events.select">
            <a data-icon="mostviewed">Stories</a> 
            <a data-icon="add ">New</a>
            <a data-icon="settings">Settings</a>
        </div>
    </div>
</div>