<div data-role="view" id="tabstrip-inStory" 
     data-model="app.inStory.model" data-show="app.inStory.events.show"
     data-init="app.inStory.events.init" data-after-show="app.inStory.events.afterShow" 
     data-title="" data-layout="mobile-tabstrip">
    
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title">!!!</span>
            <a data-align="right" data-role="button" class="nav-button" data-bind="click:addPhoto">Add</a>
        </div>
    </header>
    
    <ul data-role="listview" data-style="inset">
       in story
    </ul>
</div>